// Solarized Light
[data-theme="light"] {
    --body-bg: #fdf6e3;
    --text-color: #657b83;
    --link-color: #268bd2;
  }
  
  // Solarized Dark
  [data-theme="dark"] {
    --body-bg: #002b36;
    --text-color: #839496;
    --link-color: #b58900;
  }